.DS_Store
__pycache__/

datasets/
datasets
external/
outputs/
runs/
reports/generated/
tensorboard_logs/
tmp/
config/*/*/code/
config/*/*/recon/
config/*/*/modulations/
*.ckpt
*.pth
*.pt
*.npy
*.npz
*.ply
*.obj
*.glb
*.csv
